<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet"  href="/css/style.css">
    <link rel="stylesheet"  href="/css/teste.css">
    <link rel="stylesheet"  href="/css/bootstrap.css">
    <link rel="stylesheet"  href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="icon" href="/img/assettittle.png">
<style>

  /* visited link */
a:visited {
  color:#630080;
}

/* mouse over link */
a:hover {
    color: rgb(255, 255, 255);
}

/* selected link */
a:active {
  color: greenyellow;
}
  .navbar{
       background: #000000
 }

 .nav-item::after {
     content: '';
     display: block;
     width: 0px;
     height: 2px;
     background: #fec400;
     transition: 0.4s
 }

 .nav-item:hover::after {
     width: 100%
 }

 .navbar-dark .navbar-nav .active>.nav-link,
 .navbar-dark .navbar-nav .nav-link.active,
 .navbar-dark .navbar-nav .nav-link.show,
 .navbar-dark .navbar-nav .show>.nav-link,
 .navbar-dark .navbar-nav .nav-link:focus,
 .navbar-dark .navbar-nav .nav-link:hover {
     color: #fec400
 }

 .nav-link {
     padding: 25px 5px;
     transition: 0.2s
 }

</style>

  <title> Flow Filmes </title>
  </head>
  <body>
    <header>
   
      <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: transparent;">  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/profile">
                  <div class="fa-icon"> 
                    <%if(locals.users){%>
                    <img src=<%=`/uploads/${locals.users.imgPerfil}`%> width="30" height="30" alt="perfil" style="border-radius: 100px"> Perfil
                      <%}%>
                  </div>            
                </a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">
                  Página inicial
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/showdata">Geral </a>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="/filmes">Filmes </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/series" tabindex="-1">
                  Séries
                </a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Categorias
                </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/terror">Terror</a>
                    <a class="dropdown-item" href="/drama">Drama</a>
                    <a class="dropdown-item" href="/suspense">Suspense</a>
                    <a class="dropdown-item" href="/romance">Romance</a>
                    <a class="dropdown-item" href="/animacao">Animação infantil</a>
                    <a class="dropdown-item" href="/comedia">Comédia</a>
                    <a class="dropdown-item" href="/aventura">Aventura & ação</a>
                    <a class="dropdown-item" href="/ficcao">Ficção científica</a>

                      <!--div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div-->
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Plataformas
                </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/netflix"> 
                      <div class="fa-icon text-center"> 
                        <img src="/img/netflixbt.png" width="30" height="30" alt="netflix"> 
                      </div>
                    </a>
                    <a class="dropdown-item" href="/primevideos">
                      <div class="fa-icon text-center"> 
                        <img src="/img/whitebtn.png" width="30" height="30" alt="primevideos"> 
                      </div>
                    </a>
                    <a class="dropdown-item" href="/gplay">
                      <div class="fa-icon text-center"> 
                        <img src="/img/gplay.png" width="30" height="30" alt="globoplay"> 
                      </div>  
                    </a>
                      <!--div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div-->
                </div>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/logout" tabindex="-1">
                  SAIR
                </a>
              </li>
          </ul>
          
        </div>        
      </div>
    </nav>
  </header>
  <br><br>  
  <%if(error.length > 0){ %>
    <div class="alert alert-danger"> <%= error %></div>
<% } %>

<% if (error_msg.length > 0){ %>
  <div class="alert alert-danger">
    <strong>Bad news :( </strong> <%= error_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>  
<% } %>

 <% if (success_msg.length > 0){ %>
  <div class="alert alert-success">
    <strong>SHOWWW!</strong> <%= success_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 <% } %>


