<%- include('header') %> 
    <!--if (message.length > 0) -->

<section class="container container-rg"><!-- formularios em geral -->  	
  <div class="card">
   <div class="card-header">
    <h3 class="form-text" id='rg' style="text-align: center;">Cadastro de Filmes e Séries</h3><br />	
   </div>
      <div class="card-body bg-light">
      <form action="/addfilm" method="POST" enctype="multipart/form-data">
          <fieldset class="panel panel-group">
            <div id="panel" class="panel panel-default no-padding">
              <div class="panel-body">
                <div class="form-group">

                  <div class="form-group row">
                    
                    <label for="titulo" class="col-sm-2 col-form-label"> Nome do filme/série: </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="titulo" name="titulo" size="40" placeholder="Digite o nome do filme ">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="titulo" class="col-sm-2 col-form-label"> Data de lançamento:</label>
                    <div class="col-sm-4">
                      <input type="date" class="form-control" name="since" id="since" aria-describedby="inputGroupPrepend2">
                    </div>

                  <div class="col-md-3 mb-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="filme" id="inlineCheckbox1" value="1">
                      <label class="form-check-label" for="inlineCheckbox1">Filme</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="serie" id="inlineCheckbox2" value="2">
                      <label class="form-check-label" for="inlineCheckbox2">Série</label>
                    </div>
                  </div>
          
                    </div>
                  </div>
                  <br>

                  <div class="col-md-3 mb-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="netflix" id="inlineCheckbox1" value="1">
                      <label class="form-check-label" for="netflix">Netflix</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="amazon" id="inlineCheckbox2" value="1">
                      <label class="form-check-label" for="amazon">Amazon Prime Vídeos</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="globo" id="inlineCheckbox2" value="1">
                      <label class="form-check-label" for="globo">GLobo Play</label>
                    </div>
                  </div>

                
                <div class="form-row"></div>
                  <div class="col-md-3 mb-3">
                    <div class="input-group mb-3">
                      <select class="form-select" name="categ" id="categ" aria-label="Default select example">
                          <option selected>categoria</option>
                          <option value="Terror">Terror</option>
                          <option value="Drama">Drama</option>
                          <option value="Suspense">Suspense</option>
                          <option value="Romance">Romance</option>
                          <option value="Animacao">Animação infantil</option>
                          <option value="Comedia">Comédia</option>
                          <option value="Aventura">Aventura & ação</option>
                          <option value="Ficcao">Ficção científica</option>
                        </select>
                      </div>  
                    </div>         
                    <div class="col-md-3 mb-3">
                      <div class="input-group mb-3">
                        <select class="form-select" name="faixaet" id="faixaet" aria-label="Default select example">
                            <option selected>Faixa etária</option>
                            <option value="1">Livre</option>
                            <option value="10">Até 10 anos</option>
                            <option value="12">Até 12 anos</option>
                            <option value="14">Até 14 anos</option>
                            <option value="16">Até 16 anos</option>
                            <option value="18">Acima de 18 anos</option>
                          </select>
                        </div>  
                    </div>
                  </div> 	          			
                  <div class="form-group">
                    <div class="col-sm-8">

                      <label for="exampleFormControlSelect2">Avaliação</label>
                      <select multiple class="form-control" name="nota" id="exampleFormControlSelect2">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                  </div>    
                  <br>
                <div class="form-group row">
                  <div class="col-md-9">

                  </div>

                  <div class="col-md-9">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="send_img" id="img" lang="pt-br">
                      <label class="custom-file-label" for="img">Carregue imagem</label>        
                    </div>
                  </div>
               
                </div>                            
            

              <div>
                <button type="submit" name="send_film" class="btn btn-success mb-2">Enviar Dados</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      </div>
  </div>		
  </section>
  
  <br>
<%- include('footer') %> 

